.jumbotron{
  background-image: url("/images/02-hero-bg.jpg");
  background-size: cover;
  text-shadow: 2px 1px 1px white;
  height: fit-content;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.navbar-header a{
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
 .card img{
  height: 100%;
  object-fit: cover;
} 

